AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_ACCOUNT_ID=000000000000

SQS_QUEUE_NAME=event-processor-queue-dev
SQS_DLQ_QUEUE_NAME=event-processor-queue-dlq-dev
SQS_ENDPOINT_OVERRIDE=http://localhost:4566

DYNAMODB_TABLE_NAME=event-messages-dev
DYNAMODB_ENDPOINT_OVERRIDE=http://localhost:4566
DYNAMODB_QUERY_SPAN_S=3600
DYNAMODB_QUERY_LIMIT=100

EVENTBRIDGE_BUS_NAME=default-dev
EVENTBRIDGE_ENDPOINT_OVERRIDE=http://localhost:4566
EVENTBRIDGE_RESOURCE_ARN=arn:aws:events:us-east-1:000000000000:message/id

SQS_CONSUMER_AMOUNT=5
SQS_MAX_MESSAGE_PER_POLL=10
SQS_POLL_SECONDS=20

RETRY_PERIOD_MS=300000
RETRY_MAX_ATTEMPTS=3

LOG_LEVEL=INFO
LOG_LEVEL_BY_LOSIK=DEBUG