.gradle/
build/

.project
.classpath
.settings/
bin/

.idea
*.ipr
*.iml
*.iws

nb-configuration.xml

.vscode
.factorypath

.DS_Store

*.swp
*.swo

*.orig
*.rej

.env

/.quarkus/cli/plugins/
.certs/
localstack

gradle
gradlew
gradlew.bat
gradle.properties
settings.gradle
**/settings.gradle
**/gradle
**/gradlew
**/gradlew.bat
**/gradle.properties
*.hprof